{
    auto_https off
    admin off
}

http://api.{$DOMAIN} {
    reverse_proxy backend:8000
}

http://dashboard.{$DOMAIN} {
    reverse_proxy frontend:80
}

http://adminer.{$DOMAIN} {
    reverse_proxy adminer:8080
}

http://{$DOMAIN} {
    redir http://dashboard.{$DOMAIN}{uri} permanent
}
